* {
    font-family: 'Lato', sans-serif;
    color: #31507a;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.login-outer {
    background-color: #425979;
    background-blend-mode: lighten;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.login-middle {
    display: table-cell;
    vertical-align: middle;
}

.login-inner {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: white;
    text-align: center;
  }

.login-outer img {
    position: fixed;
    width: 100%;
    min-height: 100%;
    height: auto;
    left: 0;
    top: 0;
    opacity: 0.1;
    z-index: -1;
}
@media screen and (max-width: 800px) {
    .login-outer img {
        width: 300%;
    }
}

.login-logo-name {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.login-logo {
    font-size: 100px;
    color: white;
}

.login-inner input {
    width: 240px;
    padding: 6px;
    margin: 2px;
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: 2px solid white;
    outline: none;
}
.login-inner input::placeholder {
    color: white;
}

.login-message {
    color: white;
}

.logo {
    display: block;
    color: gainsboro;
    /* padding: 16px 32px 16px 46px; */
    padding: 16px 16px 16px 16px;
    font-weight: bold;
    font-size: 38px;
    color: white;
    text-align: center;
}

body {
    background-color: white;
}

.main {
    margin: 0 0 0 250px;
}

.card {
    background-color: white;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0px 6px 40px 0px #e2e2e2;
    border: 1px dashed #f2f7ff;
    width: 90%;
}

.grid {
    background: white;
    margin: 20px auto 0 auto;
  }

.grid:after {
    content: '';
    display: block;
    clear: both;
}
  
 .grid-item {
    width: 500px;
    background-color: white;
    margin: 40px;
    padding: 30px;
    box-shadow: 0px 6px 40px 0px #e2e2e2;
    border: 1px dashed #f2f7ff;
}

.grid-item hr {
    width: 33%;
    height: 3px;
    border: none;
    background-color: #31507a;
    margin: 0 0 8px 0;
}
#outgoings-grid-item {
    background-color: #DE7A22;
}
#monthly-salary-grid-item {
    background-color: #346753;
}
#weekly-spending-money-outgoings-grid-item {
    background-color: #1995AD;
}
  
/* .grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; } */

.input {
    display: table;
    width: 350px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #31507a;
}

button, .button {
    background: white;
    border: 1px solid whitesmoke;
    border-radius: 3px; 
    color: #31507a;    
    font-size: 16px;
    padding: 6px 8px;
    margin: 6px 0px;
    box-shadow: 0px 2px 4px 0px rgb(223, 223, 223);
}

button:hover, .button:hover{
    /* color: royalblue; */
    box-shadow: 0px 2px 4px 0px rgb(199, 199, 199);
}

#login-submit-button {
    background-color: transparent;
    border: none;
    color: rgb(209, 209, 209);
    box-shadow: none;
    outline: none;
}
#login-submit-button:hover {
    color: white;
    box-shadow: none;
}

.cancel {
    float: right;
}

h1 {
    margin: 0px 0px 16px 0px;
}

h2 {
    margin: 0 0 8px 0;
}

p {
    margin: 0px 0px 16px 0px;
    color: gray; 
}

table {
    border: none;
    border-collapse: collapse;
    text-align: left;
    color: midnightblue;
    width: 100%;
}

.alternating tr:nth-child(even) {
    background-color: #f5f5f5;
}

td {
    border: none;
    padding: 5px 20px 5px 0px;
    width: 1%; /* Fit Content */
    white-space: nowrap;
}

.alternating td {
    padding: 5px 20px 5px 5px;
}

td.stretch { /* To be used on 1 or more columns to define which one(s) stretch. */
    width: auto;
    white-space: normal;
}

input, select {
    margin: 5px 0px 14px 0px;
    padding: 3px 5px;
    border: 0;
    border-bottom: 1px solid #31507a;
    outline: none;
}
textarea {
    margin: 5px 0px 14px 0px;
    padding: 3px 5px;
}

textarea {
    width: 100%;
    height: 100px;
}

.input-label {
    font-weight: bold;
    display: block;
    /* margin: 6px 0 0 0; */
}

.bold {
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    background: #425979;
    overflow: hidden;
}

.navbar li a {
    display: block;
    color: rgb(209, 209, 209);
    padding: 16px 16px 16px 16px;
    font-size: 20px;
}

.navbar ul li:last-child {
    position: absolute;
    bottom: 8px;
}

.navbar ul li:nth-last-child(2) {
    position: absolute;
    bottom: 64px;
}

.navbar .mdi {
    /* color: rgb(209, 209, 209); */
    color: white;
    margin: 0 10px 0 0;
}

.navbar li a:hover {
    color: white;
}

.navbar li a.current-page {
    color: white;
    font-weight: bold;
}
