{% extends "base.html" %}
{% set page = 'configuration' %}
{% block content %}

<div class="input card">
  <h1>Configuration</h1>
  <form action="{{ url_for('configuration_handler') }}" method="POST">

    <h2>Salary</h2>
    <span class="input-label">Annual Gross Salary</span>
    £ <input type="number" name="annual_gross_salary" min="0" step="1"
      value="{{ '{:.2f}'.format(user.salary.annual_gross_salary) if user.salary.annual_gross_salary }}" required><br>

    <span class="input-label">Annual Tax Allowance</span>
    £ <input type="number" name="annual_tax_allowance" min="0" step="1"
      value="{{ '{:.2f}'.format(user.salary.annual_tax_allowance) if user.salary.annual_tax_allowance }}" required><br>

    <span class="input-label">Tax Rate</span>
    <input type="number" name="tax_rate" min="0" max="100" step="1"
      value="{{ '{:.0f}'.format(user.salary.tax_rate) if user.salary.tax_rate }}" required> %<br>

    <span class="input-label">Annual NI Allowance</span>
    £ <input type="number" name="annual_ni_allowance" min="0" step="1"
      value="{{ '{:.2f}'.format(user.salary.annual_ni_allowance) if user.salary.annual_ni_allowance }}" required><br>

    <span class="input-label">NI Rate</span>
    <input type="number" name="ni_rate" min="0" max="100" step="1"
      value="{{ '{:.0f}'.format(user.salary.ni_rate) if user.salary.ni_rate }}" required> %<br>

    <span class="input-label">Annual Non Pensionable Value</span>
    £ <input type="number" name="annual_non_pensionable_value" min="0" step="1"
      value="{{ '{:.2f}'.format(user.salary.annual_non_pensionable_value) if user.salary.annual_non_pensionable_value }}"
      required><br>

    <span class="input-label">Pension Contribution</span>
    <input type="number" name="pension_contribution" min="0" max="100" step="1"
      value="{{ '{:.0f}'.format(user.salary.pension_contribution) if user.salary.pension_contribution }}" required> %

    <h2>Annual Expenses</h2>
    <span class="input-label">Associated Outgoing</span>
    <select name="annual_expense_outgoing_id">
      <option></option>
      {% for outgoing in user.outgoings %}
      <option value="{{ outgoing.id }}" {% if user.configuration.annual_expense_outgoing_id==outgoing.id %}selected{%
        endif %}>
        {{ outgoing.id }} | {{ outgoing.name }}
      </option>
      {% endfor %}
    </select>
    <p>This outgoings value will be updated as and when annual expenses are added or removed.</p>

    <h2>Emergency Fund</h2>
    <span class="input-label">Months</span>
    <input type="number" name="emergency_fund_months" min="0" step="1"
      value="{{ user.configuration.emergency_fund_months }}" required>
    <p>The number of months of outgoings you would like to save as an Emergency Fund.</p>

    <br>
    <input type="hidden" value="{{ request.args.get('return_page', 'index') }}" name="return_page" />
    <button type="submit">
      <span class="mdi mdi-content-save"></span> Save
    </button>

    <a href="{{ url_for(request.args.get('return_page', 'index')) }}" class="cancel button">
      <span class="mdi mdi-close"></span> Cancel
    </a>

  </form>
</div>

{% endblock %}