{% extends "base.html" %}
{% set page = 'savings' %}
{% block content %}

<div class="input card">
  <h1>Edit {{ saving.name }}</h1>
  <form action="{{ url_for('edit_saving_handler', saving_id = saving.id) }}" method="POST">

    <span class="input-label">Name</span>
    <input type="text" name="name" minlength="1" maxlength="255" value="{{ saving.name }}" required>

    <span class="input-label">Balance</span>
    £ <input type="number" name="balance" step="0.01" min="0" value="{{ '{:.2f}'.format(saving.balance) }}" required>
    
    <span class="input-label">Notes</span>
    <textarea name="notes">{{ saving.notes if saving.notes }}</textarea>

    <button type="submit">
      <span class="mdi mdi-content-save"></span> Save
    </button>

    <a href="{{ url_for('savings') }}" class="cancel button">
        <span class="mdi mdi-close"></span> Cancel
    </a>

  </form>
</div>

{% endblock %}