{% extends "base.html" %}
{% set page = 'index' %}
{% block content %}

<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 580, "isFitWidth": true }'>

  <div class="grid-item">
    <h1>Outgoings</h1>
    <hr id="outgoings-grid-item">
    <p>On the last day of each month the following amounts need to be transferred into their respective accounts.</p>
    <table>
      <tbody>
        {% for account in user.accounts %}
        <tr title="{{ account.notes if account.notes }}">
          <td>{{ account.name }}</td>
          <td>£ {{ "{:.2f}".format(account.outgoings | sum(attribute="value")) }}</td>
        </tr>
        {% endfor %}
        <tr><td><br></td></tr>
        <tr>
          <td class="bold">Total Outgoings</td>
          <td class="bold">£ {{ "{:.2f}".format(user.total_outgoings) }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="grid-item">
    <h1>Monthly Salary</h1>
    <hr id="monthly-salary-grid-item">
    <table>
      <tbody>
        <tr>
          <td class="bold">Gross Salary</td>
          <td class="bold">£ {{ "{:,.2f}".format(user.salary.annual_gross_salary / 12) }}</td>
        </tr>
        <tr>
          <td>Tax</td>
          <td>- £ {{ "{:,.2f}".format(user.salary.annual_tax / 12) }}</td>
        </tr>
        <tr>
          <td>National Insurance</td>
          <td>- £ {{ "{:,.2f}".format(user.salary.annual_ni / 12) }}</td>
        </tr>
        <tr>
          <td>Pension Contributions</td>
          <td>- £ {{ "{:,.2f}".format(user.salary.annual_pension / 12) }}</td>
        </tr>
        <tr>
          <td>Pension Tax Relief</td>
          <td>+ £ {{ "{:,.2f}".format(user.salary.annual_pension_tax_relief / 12) }}</td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
          <td class="bold">Net Salary</td>
          <td class="bold">£ {{ "{:,.2f}".format(user.salary.annual_net_salary / 12) }}</td>
        </tr>
        <tr>
          <td class="bold">After Outgoings</td>
          <td class="bold">£ {{ "{:,.2f}".format((user.salary.annual_net_salary / 12) - user.total_outgoings) }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="grid-item">
    <h1>Weekly Spending Money</h1>
    <hr id="weekly-spending-money-outgoings-grid-item">
    <table>
      <tbody>
        <tr>
          <td title="The actual ammount available will go up and down depending on how many pay days are in a given month.">
            Available (Approximate)
          </td>
          <td>£ {{ "{:.2f}".format(((user.salary.annual_net_salary) - (user.total_outgoings * 12)) / 52) }}</td>
        </tr>
        <tr>
          <td class="bold">Set</td>
          <td class="bold">£ {{ "{:.2f}".format(user.configuration.weekly_spending_amount) }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <h2>Future Spending Money Savings</h2>
    <p>To cover future spending money savings should currently total:</p>
    <span class="bold">£{{ "{:,.2f}".format(user.weekly_spending_calculations) }}</span>
  </div>

  <div class="grid-item">
    <h1>Annual Expenses</h1>
    <hr id="annual-expenses-grid-item">
    <p>This months annual expenses.</p>
    <table>
      <tbody>
        {% for annual_expense in current_month_annual_expenses %}
          <tr title="{{ annual_expense.notes if annual_expense.notes }}">
            <td>{{ annual_expense.name }}</td>
            <td>£ {{ '{:.2f}'.format(annual_expense.value) }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td class="bold">End of Month Target Balance</td>
          <td class="bold">£ {{ '{:.2f}'.format(end_of_month_target_balance) }}</td>
        </tr>
      </tbody>
    </table>  
  </div>

  {% if user.configuration.starling_api_key %}
  <div class="grid-item">
    <script type="text/javascript">
      load_starling_data();
    </script>
    <h1>Starling Account</h1>
    <hr id="starling-account-grid-item">
    <span class="bold" id="starling-loading">Loading...</span>
    <table id="starling-table">
      <tbody>
      </tbody>
    </table>
  </div>
  {% endif %}

</div>

{% endblock %}
