{% extends "base.html" %}
{% set page = 'annual-expenses' %}
{% block content %}

<div class="input card">
  <h1>New Annual Expense</h1>
  <form action="{{ url_for('new_annual_expense_handler') }}" method="POST">

    <span class="input-label">Month</span>
    <select name="month_paid" required>
      {% for month_num, month_name in months.items() %}
        <option value="{{ month_num }}" {% if month_num == (target_month | int) %}selected{% endif %}>{{ month_name }}</option>
      {% endfor %}
    </select>
    
    <span class="input-label">Name</span>
    <input type="text" name="name" minlength="1" maxlength="255" required>
    
    <span class="input-label">Value</span>
    £ <input type="number" name="value" step="0.01" min="0" required>
    
    <span class="input-label">Notes</span>
    <textarea name="notes"></textarea>

    <button type="submit">
      <span class="mdi mdi-content-save"></span> Save
    </button>

    <a href="{{ url_for('annual_expenses') }}" class="cancel button">
        <span class="mdi mdi-close"></span> Cancel
    </a>

  </form>
</div>

{% endblock %}
