{% extends "base.html" %}
{% set page = 'index' %}
{% block content %}

<div class="input card">
  <h1>New Outgoing</h1>
  <form action="{{ url_for('new_outgoing_handler') }}">

    <span class="input-label">Account</span>
    <select name="account_id" required>
      {% for account in accounts %}
        <option value="{{ account.id }}" {% if account.id == account_id|int %}selected{% endif %}>{{ account.name }}</option>
      {% endfor %}
    </select>
    
    <span class="input-label">Name</span>
    <input type="text" name="name" minlength="1" maxlength="255" required>
    
    <span class="input-label">Value</span>
    £ <input type="number" name="value" step="0.01" min="0" required>
    
    <span class="input-label">Notes</span>
    <textarea name="notes"></textarea>

    <button type="submit">
      <span class="mdi mdi-content-save"></span> Save
    </button>

    <a href="{{ url_for('outgoings') }}" class="cancel button">
        <span class="mdi mdi-close"></span> Cancel
    </a>

  </form>
</div>

{% endblock %}
