{% extends "base.html" %}
{% set page = 'savings' %}
{% block content %}

<div class="card">
  <h1>Savings</h1>
  <table class="alternating">
    <tbody>
      {% for saving in user.savings %}
      <tr>
          <td class="hide-on-mobile">{{ saving.id }}</td>
          <td>{{ saving.name }}</td>
          <td>
            £ {{ '{:,.2f}'.format(saving.balance) }} 
            <span
              {% if saving.needs_balance_update %}
                class="mdi mdi-clock-alert-outline alert"
              {% else %}
                class="mdi mdi-clock-outline subtext"
              {% endif %}
                title="Last Manually Updated {{ saving.last_manual_update }}"></span>
          </td>
          <td class="stretch hide-on-mobile">{{ saving.notes if saving.notes }}</td>
          <td class="stretch"></td>
          <td>
            <a href="{{ url_for('edit_saving', saving_id=saving.id) }}" title="Edit">
                <span class="mdi mdi-pencil color-inherit"></span>
            </a>
          </td>
          <td class="hide-on-mobile">
            <a href="#" onclick="delete_warning('saving', {{ saving.id }}, '{{ saving.name }}');" title="Delete">
                <span class="mdi mdi-delete color-inherit"></span>
            </a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>
  <a href="{{ url_for('new_saving') }}" class="button">
    <span class="mdi mdi-plus"></span> New Saving
  </a>
</div>

{% endblock %}
